* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
}
.initial-clr {
  color: #ff42a5;
}
.primary-clr {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  color: white;
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  /* border-radius: 48px; */
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.bg-primary {
  background-color: #4ec5f7;
}

/* sheared style end */

/* nav start */
nav {
  margin-bottom: 20px;
  padding: 30px 0;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo > h2 {
  text-align: center;
  font-family: Work Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.links {
  gap: 20px;
  display: flex;
  align-items: center;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.link-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 12px 25px;
}
.link-icons > i {
  font-size: 25px;
}
.nav-you {
  color: red;
}
/* nav end */

/* banner section start */
.banner-section {
  margin-top: 0px;
  background-image: url("images/Group 14.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50% 100%;
}
.banner-item {
}
.banner-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.banner-item-image {
  width: 50%;
}
.banner-item-image > img {
  width: 100%;
}
.banner-item > .heading-two {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-item > .heading-one {
  text-align: center;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.banner-item-pera {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.banner-item-pera > P {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #534c64;
  /* text-align: center; */
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: lowercase;
}
#banner-btn-2 {
  background: #4ec5f7;
  margin-left: 15px;
}
/* banner section end */

/* gamer section start */
.gamer-section {
  margin-bottom: 100px;
  padding: 50px 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.gamer-items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamer-item-image {
  width: 55%;
}
.gamer-item-image > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.gamer-item-description {
  text-align: right;
  width: 40%;
  line-height: 25px;
}
.gamer-item-description > h2 {
  text-align: right;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.gamer-item-description > p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 20px;
}
.gamer-item-description > h5 {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
.gamer-item-description > h4 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
/* gamer section end */

/* online game cards start */
.online-games-title-and-description > h1 {
  color: #0b0223;
  text-align: right;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.online-games-title-and-description > p {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
}
.online-games-title-and-description {
  width: max-content;
  margin: 30px auto;
  text-align: center;
  line-height: 50px;
}
.online-games-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.online-game>img {
  width: 100%;
  margin-bottom: 20px;
}
.online-game{
  position: relative;
  transition: all 5s;
  
}
.online-game>:hover {

  opacity: 0.3;
  /* border-radius: 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%); */
}
.online-game:hover .play-buttons{
  visibility: visible;
}
.play-buttons{
  visibility: hidden;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}
.play-buttons>img{
  width: 50px;
}
.play-buttons>span{
  color:#ff42a5;
  
}

/* online game cards end */

/* play game online start */
.play-game-online {
  margin-top: 100px;
}
.play-game-online-wrapper {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}
.play-game-online-item-images {
  width: 50%;
  position: relative;
}
.play-game-online-item-image-1 {
  width: 100%;
}
.play-game-online-item-image-2 {
  width: 300px;
  position: absolute;
  bottom: -100px;
  right: -130px;
}
.play-game-online-item-text {
  width: 30%;
  /* text-align: justify; */
}
.play-game-online-item-text > h2 {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}
.play-game-online-item-text > p {
  margin-top: 20px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
/* play game online end */

/* games section start  */
.games-section {
  margin-top: 150px;
  padding: 50px 0;
}
.game-items-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* transition: all 0.5s; */

  
}

.game-item {
  gap: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 45px;
  transition: border 1s ;
  border: none;
  border: 3px solid transparent;
}
.game-item > span {
    color: #0b0223;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.game-item:hover{
    border: 3px solid #ff42a5;

}
.game-item:hover .game-span{
    color:  #ff42a5;

}
/* games section end */

/* main end */

/* footer start */
footer {
  background: #0b0223;
  color: white;
  padding: 50px 0;
}
.footer-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links {
  margin-top: 50px;
}
.footer-links > ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-icons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  color: white;
  gap: 30px;
  font-size: 30px;
}
.footer-links-2 {
  margin-top: 50px;
}
.footer-links-2 > ul {
  display: flex;
  align-items: center;
  gap: 40px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
}
.footer-copy {
  margin: 20px auto 0;
  width: 45%;

}
.footer-copy > p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* footer end */
