@media screen and (min-width:577px) and (max-width:992px) {
    .nav-wrapper {
        flex-direction: column;
        gap: 50px;
      }
      .links {
        flex-direction: column;
      }
      /* nav end */
    
      /* banner start */
      .banner-section {
        background-image: url("images/Group 14.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% 39%;
        padding: 50px;
      }
      .banner-wrapper {
        flex-direction: column-reverse;
      }
      .banner-item-image {
        width: 100%;
      }
      .banner-item > .heading-two {
        font-size: 30px;
        font-weight: 600;
      }
      .banner-item > .heading-one {
        font-size: 70px;
        font-weight: 800;
      }
    
      /* banner end */

    /* gamer section start */

  .gamer-items-wrapper {
    flex-direction: column;
  }

  .gamer-item-image {
    width: 100%;
  }
  .gamer-item-description {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .gamer-item-description > p {
    width: 100%;
    text-align: center;
  }
  .gamer-item-description > h2 {
    width: 100%;
    text-align: center;
  }
  .gamer-item-description > h5 {
    width: 100%;
    text-align: center;
  }
  .gamer-item-description > h5 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  /* gamer section end */

  /* online game cards start */

  .online-games-title-and-description > h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  .online-games-title-and-description > p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

  .online-games-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* online game cards end */


  /* play game online start */

  .play-game-online-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .play-game-online-item-images {
    width: 90%;
  }
  .play-game-online-item-image-1 {
    width: 100%;
  }
  .play-game-online-item-image-2 {
    width: 200px;
    bottom: -70px;
    right: -80px;
  }
  .play-game-online-item-text {
    width: 100%;
    text-align: center;
  }
  .play-game-online-item-text > h2 {
    font-size: 60px;
    font-weight: 700;
  }
  .play-game-online-item-text > p {
    font-size: 14px;
  }

  /* play game online end */


  /* games section start  */
  .games-section {
    margin-top: 80px;
    width: 100vw;
    padding: 50px 50px;
  }
  .game-items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .game-item {
    gap: 10px;
  }
  .game-item > img {
    width: 50px;
  }
  .game-item > span {
    color: #0b0223;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
  }

  /* games section end  */

    
}